<h3>
    User Profile
</h3>
<hr>
<div class="profileCard">
<h2 class="profileName" appHighlighter="yellow">{{profile.name}}</h2>
<h3 class="profileDesignation">{{profile.designation}}</h3>
<h3 class="profileSkills" appHighlighter="green">{{profile.skills}}</h3>

<button class="btn btn-primary" *ngIf="!flag" (click)="toggleContactDetails()">Collapse</button>
<button class="btn btn-primary" *ngIf="flag" (click)="toggleContactDetails()">Expand</button>
<div *ngIf="!flag">
<h3 class="profileLocation">{{profile.location}}</h3>
    <div *ngIf="profile.contact.length" class="profileContact">
        <p>Contact details :</p>
        <p *ngFor="let item of profile.contact">
         {{item}}
        </p>
    </div>
</div>
<!-- <input type="text" [(ngModel)]="defaultValue">
<br>
{{defaultValue}} -->
</div>
<div>
    <p>
        Date of Joining is : {{doj | date: 'fullDate' | lowercase}}
    </p>
</div>

<!-- {{func() | uppercase}} -->




<!-- *ngFor="let item of property" -->
<!-- *ngIf="property" -->

<!-- 
UpperCase
LowerCase
DatePipe
CurrencyPipe
DecimalPipe -->

<!-- || |
&& &

if(condition1 || condition2){

} -->

<!-- {{}} -->
